<table class="table">
  <tr>
    <td><%= button_to "Unit Library", unit_libraries_path, :method => :get %></td>
    <td><%= button_to "Color Library", color_libraries_path, :method => :get %></td>
  </tr>
</table>
