
<div id="color-schedule" class="tab-pane fade in active">
  <h3 class="sheet-name">Color Schedule</h3>
  <table class="table color-schedule-view">
    <thead>
      <tr>
        <th class="Color-H">Color</th>
        <th class="Size-H">Size</th>
        <th class="Qty-H">Quantity</th>
      </tr>
    </thead>
    <tbody>

      <% @equipment_sorted_sliced_for_color_view.each do |equipment_group| %>
        <% this_color = equipment_group.first.color %>
        <tr><td colspan="10"><h4><%= this_color %></h4>
          <%if @colors.find_by_alias1(this_color)%>
                <div class="color-box" style="background-color: #<%=@colors.find_by_alias1(this_color).hex_code%>" display="inline"></div>
                <%else%>
                <div class="color-box" display="inline" margin-right="10em"></div>
                <%end%>
        </td>
        </tr>

        <% equipment_sub_groupings = equipment_group.slice_when {|a, b| a.frame_size != b.frame_size}.to_a %>
        <% equipment_sub_groupings.each do |equipment_sub_group| %>
          <tr class="Color-Row">
            <td></td>
            <% this_size = equipment_sub_group.first.frame_size %>
            <% this_count = equipment_sub_group.count {|e| e.color == this_color} %>
            <td class="e-size"><%= this_size %></td>
            <td class="e-qty"><%= this_count %></td>
          </tr>
        <%end%>
      <% end %>
    </tbody>
  </table>
</div> <!-- Close color-schedule -->
