<div class="view-header">
  <h2>Welcome back, <%=@user.username%></h2>
</div>
<div class="row dashboard">
<div class="column dashboard-buttons">
  <button type="button" class="btn" data-toggle="modal" data-target="#newModal">
    New Show
</button>

</div>

<div class="column dashboard-buttons">
  <button type="button" class="btn">View Shows</button>
</div>

<div class="column dashboard-buttons">
  <button type="button" class="btn">Libraries</h3></button>
</div>
</div>

<%= render "productions/new_show_modal"%>
