<div class="view-header">
  <h2>Welcome back, <%=@user.username%></h2>
</div>

<div class="nav nav-collapse">
	<div class="row">

		<div class="column dashboard-buttons">
	  		<a href="/productions/new" class="btn" data-toggle="modal" data-target="#newModal">New Show</a>
		</div>

		<div class="column dashboard-buttons">
		  <a href="/productions/" class="btn" >View Shows</a>
		</div>

		<div class="column dashboard-buttons">
		  <a href="/libraries" class="btn">Libraries</h3></a>
		</div>

	</div><!-- close row -->
</div><!-- clos nav nav-collapse -->

<%= render "productions/new_show_modal"%>
