<table class="table">
  <tr>
    <td><%= button_to "Unit Library", "/libraries/equipment", :method => :get %></td>
    <td><%= button_to "Color Library", "/libraries/colors", :method => :get %></td>
  </tr>
</table>
