<h2> Libraries </h2>
<table class="table">
  <tr>
    <td><a class='btn' href="/libraries/equipment"> Equipment Library </a></td>
    <td><a class='btn' href="/libraries/colors"> Color Library </a></td>
  </tr>
</table>
