<h1>Hello World!</h1>

<%= link_to "Existing user login", controller: "devise/sessions", action: "new" %>
<br>
<%= link_to "Register new user", controller: "devise/registrations", action: "new" %>
