<div class="jumbotron">
<h1>Welcome to Mastercraft</h1>
	<img id="background-image" src="people-festival-party-dancing.jpg">
</div>
</div>
<div class="container text-container">
	<h2>Why Mastercraft?</h2>
		<h4><em>For the pro: Mastercraft is for you.</em></h4>
		<p>Yeah, we said it: you're a real pro. You've been working in lighting for years, and you're proud of your shows, your people, and your venue. But the "other" lighting software just isn't working for you. Maybe it's too heavy; you know exactly what you need and what you don't, and you're looking for software that lets you create what you want--without all the extras. Maybe it's taking enough out of your budget that you'd rather just work in a spreadsheet program...if only it had support for VectorWorks.</p>
		<p>Mastercraft is for you. Designed and built by an industry pro for other industry professionals, Mastercraft is a new, lightweight, web-based way to produce the paperwork you want, without all the stuff you don't. With integrated import support for popular graphic design programs as well as a streamlined, user-focused interface to build your tables from the ground up--and an attractive price point--Mastercraft was made for you. <a href="/users/sign_up">Register</a> for free today and see what it's all about.</p><br>
		<h4><em>For the enthusiast: Mastercraft is for you, too.</em></h4>
		<p>You love lighting design, and it shows in your work. Maybe you're at a school or community theater. Maybe you're not just the designer; you're the director, or the producer, or the actor/director/producer/designer/electrician. Whatever you are, you're good at it and you're proud of it. But your budget is tight, and dropping a good third of your lighting money on software is just not in the cards. So it's 1:00 am, you're alone in the office under the stage, and you're filling in a spreadsheet. Again.</p>
		<p>Mastercraft is for you. With inputs designed with the user in mind, a mobile-friendly web interface, and easy checks and edits, Mastercraft is everything you've wanted from a lighting program--at a price meant for budgets like yours. <a href="/users/sign_up">Register</a> for free today and kiss your spreadsheets goodbye.</p>
	</div>


