<div class="jumbotron">
<h1>Welcome to Mastercraft</h1>
	<img id="background-image" src="people-festival-party-dancing.jpg">
</div>
</div>

	<h2>Why Mastercraft?</h2>
		<p>William F. Brinkert had a vision.</p>


