<h1>Listing productions</h1>

<table id="productions-table">
  <tr>
    <th>Name</th>
    <th>Date</th>
    <th>Designer</th>
    <th>Master electrician</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>
</table>

<br/>

<a href="#/new">New Production</a>