<h1>New production</h1>

<form id="new-production" name="production">
  <div class="field">
    <label for="name"> name:</label>
    <input type="text" name="name" id="name" value="<%= name %>" >
  </div>

  <div class="field">
    <label for="date"> date:</label>
    <input type="text" name="date" id="date" value="<%= date %>" >
  </div>

  <div class="field">
    <label for="designer"> designer:</label>
    <input type="text" name="designer" id="designer" value="<%= designer %>" >
  </div>

  <div class="field">
    <label for="master_electrician"> master_electrician:</label>
    <input type="text" name="master_electrician" id="master_electrician" value="<%= master_electrician %>" >
  </div>

  <div class="actions">
    <input type="submit" value="Create Production" />
  </div>

</form>

<a href="#/index">Back</a>