<p>
  <b>Name:</b>
  <%= name %>
</p>

<p>
  <b>Date:</b>
  <%= date %>
</p>

<p>
  <b>Designer:</b>
  <%= designer %>
</p>

<p>
  <b>Master electrician:</b>
  <%= master_electrician %>
</p>


<a href="#/index">Back</a>