/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


h1 {
	font-family: Quicksand;
}

h2{
	font-family: Quicksand;

}

 .container {
    border-left: 5px double #483D8B;
    border-right: 5px double #483D8B;
    /*height: 78vh;*/
}

a {
	text-decoration: none;
	color: white;
}

 .header-text
 {	padding: 1em;
	background: linear-gradient(to right, rgba(219,219,219,1) 0%, rgba(212,212,212,1) 4%, rgba(204,204,204,1) 16%, rgba(247,247,247,1) 100%);
}

.navbar {
	border-top: 2px solid yellow;
	border-bottom: 2px solid yellow;
	font-family: Quicksand;
}

.navbar-nav > li > a, .navbar-brand {padding-top:5px !important; padding-bottom:0 !important; height: 30px; } .navbar {min-height:30px !important;

}

body {
	background-color: #f6f1ed;
	height: 100%;
	padding-bottom: 4em;
	font-family: Yanone-Kaffeesatz;
}

.logo {
	max-width: 5em;
	max-height: 5em;
}

tr:hover {
	background-color: lightgray;
}




