// Place all the styles related to the channels controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.deep-blue {
  color: blue;
}

.deep-red {
  color: red;
}

.edit-cell {
  background-color: #ccffff;
}

.edit-input-btn {
  margin-top: 0 !important;
}
