// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/



.dashboard {
	margin: auto;


}
.row {
  display: table;
  max-width: 100%;
  table-layout: fixed;
  border-spacing: 10px;
  margin: 5em;
}

.column {
  display: table-cell;

}
.dashboard-buttons {
	width: 300px;
    height: 100px;
    padding: 15px;
    background-color: #62b4ff;
    box-shadow: 10px 10px;


    .btn {
    background-color: #62b4ff;
    color: white;
    text-align: center;
    font-size: 2em;
        }

    h3 {
   color: white;
   text-align: center;
   }
   }



